<button (click)="getAllSports()">Get Sports</button>
<div class="sport" *ngFor="let sport of sports">
  <h5>{{sport.sportName}}</h5>
</div>
<button (click)="getAllTeams()">Get Teams</button>
<div class="sport" *ngFor="let team of teams">
  <h5>{{team.teamName}}</h5>
  <h6>{{team.sport.sportName}}</h6>
</div>
<button (click)="getAllEvents()">Get Events</button>
<div class="sport" *ngFor="let event of events">
  <h5>{{event.eventName}}</h5>
  <h6>{{event.sport.sportName}}</h6>
  <h6>{{event._teamOne.teamName}}</h6>
  <h6>{{event._teamTwo.teamName}}</h6>
  <h6>{{event.date}}</h6>
</div>

